[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
dropbox = "*"
google-cloud-storage = "*"
peewee = "*"
peewee-migrate = "*"
pyjwt = "*"

[dev-packages]
webtest = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
migrate = "python main.py db migrate"
